*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #009688 ;
}
.container{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 7vh;
}
.game{
    height: 60vmin;
    width: 70vmin;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

}
.box{
    background-color: #e0f2f1;
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 0px 0px 25px  black ;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xxx-large;
    font-weight: bolder;
    text-shadow: 7px 7px 15px #009688;
}
#reset-btn{
    padding: 1rem;
    width: 12vmin;
    height: 6vmin;
    background-color: black;
    border: none;
    color: white;
    border-radius: 0.5rem;
}
#new-btn{
    padding: 1rem;
    width: 15vmin;
    height: 6vmin;
    background-color: black;
    border: none;
    color: white;
    border-radius: 0.5rem;
}
.winner-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:6vh;
}
.msg{
    color: #e0f2f1;
    font-size:xx-large;
}
.hide{
    display: none;
}
.box:hover{
    cursor: pointer;
    background-color:#bdfbf4;
}
#new-btn:hover{
    cursor: pointer;
}
#reset-btn:hover{
    cursor: pointer;
}